@mixin google-font($family) {
  @import url("http://fonts.googleapis.com/css?family=#{$family}&display=swap&subset=latin-ext");
}

$color-primary: #0052CC;


.spacer {
  flex: 1 1 auto;
  margin-top: 10px;
  width: 90%;
  align-self: flex-end;
  position: relative;
 
}

// button
.btn{
  color: white;
  background-color: $color-primary;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
}
.btn:active{
  transform: scale(0.9);
}
